{% load static %}
<head>
<link rel="stylesheet" type="text/css" href= "{% static 'boards/css/bootstrap.css' %}" />
<link rel="script" text="javascript" href= "{% static 'boards/js/bootstrap.js' %}" />
<link rel="script" text="javascript" href= "{% static 'boards/js/popper.js' %}" />

<!-- <script>let colors = ['red', 'orange', 'yellow', 'green', 'blue', 'indigo', 'violet'];
let counter = 0;
document.getElementsByClassName('hide').onclick = function changeStyle(element) {
    counter++
    if(counter % 1 === 0) {
        element.style.color = 'green';
    } else {
        element.style.color = 'red';
    }
    
}
</script> -->
</head>

<body style="background-color: black; color:white;">

    <h1 style="color:rgb(192, 192, 220);text-align: center;padding:75px;" onclick="this.style.color = colors[Math.floor(Math.random() * colors.length)]">REDCHAN</h1>
    <h1>{{url}}</h1>
    <div>
    {% for post in front_page %} 
    <h3 style="color:aqua" class="hide">{{post.title}}</h3>
    <h4 style="color:burlywood">by <a href="boards/user/{{post.author}}">{{post.author}}</h4>
    <h5 style="color:aliceblue">{{post.content}}</h5> 
    {% endfor %}
    </div>
    

      
    

 
                
    



    </body>

