{% load static %}
<link rel="stylesheet" type="text/css" href= "{% static 'boards/css/bootstrap.css' %}" />
<script>
  let colors = ['red', 'orange', 'yellow', 'green', 'blue', 'indigo', 'violet']
</script>
<body style="background-color: black; color: white;">
{% for user in user_list %}
<div class="user" + {{user.id}}>
    Username is {{user.username}}
    <div class="posts"> 
        {% for post in user.posts %}
        <div><h3>{{post.author}}</h3>
            <h3>{{post.title}}</h3>
                <h3>{{post.content}}</h3>
                <ul>
                    {% for comment in post.comments %}
                    <l1>{{comment.content}} to {{comment.parent.author}}</l1>
                    {% endfor %}
                    </ul>
            </div>
        {% endfor %}
    </div>
</div>
{% endfor %}
</body>