{% load static %}
<link rel="stylesheet" type="text/css" href= "{% static 'boards/css/bootstrap.css' %}" />
<body style="background-color: black;">
<!-- 
    <h1>{{numbers}}</h1>  -->
    <p>This person's username is {{user.username}}</p>
    <!-- <p>This person's posts are {{user.posts}}</p> -->
    <p>The titles of this person's posts are 
        <h1 style="color: aliceblue;text-align:center;">
            {{numquam.username}}
            {% for post in numquam.posts %}
            <p style="color:aqua;">{{post.title}}</p>
            <h6 style="color:chartreuse;">{{post.author}}</h6>
            <h5 style="color:aliceblue;">{{post.content}}</h5>
            {{spacer}}
            {% endfor %}
         
          
        </h1>

    </p>
    <!-- {% for color in colors %}

    <h1>{{color}}</h1>
    
    {% endfor %} -->
    <!-- {% for story in story_list %}
    <h2>
      <a href="{{ story.get_absolute_url }}">
        {{ story.headline|upper }}
      </a>
    </h2>
    <p>{{ story.tease|truncatewords:"100" }}</p>
    {% endfor %} -->
  
</body>