{% load static %}
<!-- {'user': _user,
'user2': _user2, 
'posttitles': [post.title for post in _user.posts],
'postauthors': [post.author for post in _user.posts],
'postcontents': [post.content for post in _user.posts],
'request': request, -->
<!-- 'numbers': [num for num in range(100)],
'colors': ['red', 'orange', 'yellow', 'green', 'blue', 'indigo', 'violet'],
'pictures': [],
'alphanum': ALPHANUM,
'numquam': u,
'spacer': '''
    
___________________________________________________________


''',
'kevin_bacon': requests.get('https://en.wikipedia.org').text,
'str_request': ' '.join(str(request).split('/')),
'split_str_request': str(request).split('/')

} -->
<head>
<link rel="stylesheet" type="text/css" href= "{% static 'boards/css/bootstrap.css' %}" />
<body style="background-color: black;">
<script>let colors = ['red', 'orange', 'yellow', 'green', 'blue', 'indigo', 'violet']</script>
</head>
<body>
    <h1 style="color:rgb(192, 192, 220);text-align: center;padding:75px;" onclick="this.style.color = colors[Math.floor(Math.random() * colors.length)]"><a href="/boards">REDCHAN</a></h1>

    <!-- 
    <h1>{{numbers}}</h1>  -->
    <h1 style="color:aliceblue;text-align:center;" onclick="this.style.color = colors[Math.floor(Math.random() * colors.length)]">{{user.username}}</h1>
    <!-- <p style="color:white;">This person's username is {{user.username}}</p> -->
    <!-- <p>This person's posts are {{user.posts}}</p> -->

    <h1 style="color: aliceblue;text-align:center;background-color: black;">
  
      {% for post in user.posts %}
        //   <h3 style="color:aqua;" onclick="this.style.color = colors[Math.floor(Math.random() * colors.length)]">{{post.title}}</h3>
        //   <h6 style="color:chartreuse;" onclick="this.style.color = colors[Math.floor(Math.random() * colors.length)]">by {{post.author}}</h6>
        //   <h5 style="color:aliceblue;" onclick="this.style.color = colors[Math.floor(Math.random() * colors.length)]">{{post.content}}</h5>
            {{spacer}}
            {% endfor %}
         
          
        </h1>


    {% for post in userposts %}
    <h3 style="color:white;" onclick="this.style.color = colors[Math.floor(Math.random() * colors.length)]">{{post.title}} by {{post.author}}</h3>
    <h5 style="color:white;" onclick="this.style.color = colors[Math.floor(Math.random() * colors.length)]">{{post.content}}</h5>
    {% endfor %}

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <!-- <a class="navbar-brand" href="#">Navbar</a> -->
        {% for number in numbers %}
        <a class="navbar-brand" href="{{number}}">{{number}}</a>
   
        {% endfor %}

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
    </nav>

  
</body>