{% load static %}
<link rel="stylesheet" type="text/css" href= "{% static 'boards/css/bootstrap.css' %}" />
<script>
  let colors = ['red', 'orange', 'yellow', 'green', 'blue', 'indigo', 'violet']
</script>
<body style="background-color: black;">

{% for post in posts %}

<h1 style="color:white;"><a href="/{{url}}">{{post.title}}</a></h1>
<h2 style="color:yellow;"><a href="/{{url}}">{{post.author}}</a></h2>
<h3 style="color:aquamarine"><a href="/{{url}}">{{post.content}}</a></h1>

{% endfor %}

</body>